<h2>Assets</h2>

<form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.controls.items)">
	<div formArrayName="items" *ngFor="let item of orderForm.get('items').controls; let i = index;">
		<div class="container">
			<div [formGroupName]="i">
				<label for="quantity">
			    {{ assets[i].name }}
	      </label>
				<input formControlName="quantity" placeholder="Item quantity">
				<!-- input formControlName="quantity" type="number" min="1" max="10000" step="1" -->
			</div>
			<div *ngIf="!item.controls.quantity.valid">{{item.controls.quantity.status}} </div>
		</div>
		<!-- Chosen qty: {{item.controls.quantity.value}} -->
	</div>

	<button class="button" type="submit">Purchase</button>

</form>