<h2>Assets</h2>

<!-- <form [formGroup]="checkoutForm"> -->

<div *ngFor="let asset of assets; index as assetId">
	<label for="quantity">
			{{ asset.name }}
	</label>

    <!-- <input id="quantity" type="number" name="quantity" min="1" max="10000" 
    (blur)="addToCart(quantity.value, asset)"> -->

		<input #quantity type="number" min="1" max="10000" step="1"
    (blur)="addToCart(quantity, asset)"> 

		<!-- <input type="number" id="quantity" name="quantity"
       min="1" max="10000"> -->

		<!-- <button (click)="addToCart(quantity.value, asset)">
    Add to Cart
  </button> -->

</div>
<!-- </form> -->