<h2>Assets</h2>

<div *ngFor="let asset of assets; index as assetId">
	<label for="quantity">
			{{ asset.name }}
	</label>

    <!-- <input id="quantity" type="number" name="quantity" min="1" max="10000" 
    (blur)="addToCart(quantity.value, asset)"> -->

		<input #quantity type="number" min="1" max="10000" step="1"
    (blur)="addToCart(quantity, asset)"> 
    

		<!-- <input type="number" id="quantity" name="quantity"
       min="1" max="10000"> -->

		<!-- <button (click)="addToCart(quantity.value, asset)">
    Add to Cart
  </button> -->

</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
	<div>
		<label for="name">
      Name
    </label>
		<input id="name" type="text" formControlName="name">
  </div>

	<div>
		<label for="address">
      Address
    </label>
		<input id="address" type="text" formControlName="address">
  </div>
	
  <button class="button" type="submit">Purchase</button>

</form>


